<h1 class="mt-5 mb-5">Список пропонованих зустрiчей</h1>

<div class="row">
	<% @meets.each do |meet| %>
		<div class="col-12 shadow p-3 mb-3 border rounded">
			<a href="meets/<%= meet.id%>"><h2><%= meet.title%></h2></a>
			<div class="row justify-content-between">
				<div class="col-auto"><%= meet.location%></div>
				<div class="col-auto"><%= meet.meetdate%></div>
			</div>
		</div>
	<% end %>
</div>